.page2 {
    background-color: #2980b9;
    color: #3498db;
    height: 100vh;
    left: 0;
    top: 100vh;
    width: 100vw;
}

.page3 {
    background-color: #2ecc71;
    color: #27ae60;
    height: 100vh;
    left: 0;
    top: 200vh;
    width: 100vw;
}

.page4 {
    background-color: #e74c3c;
    color: #c0392b;
    height: 100vh;
    left: 0;
    top: 300vh;
    width: 100vw;
}

.clouds .cloud1 {
    height: 22.53vh;
    left: 61.8vw;
    top: 10.4vh;
    width: 17.72vw;
}

.clouds .cloud2 {
    height: 22.53vh;
    left: 46.6vw;
    top: 45.7vh;
    width: 17.72vw;
}

.clouds .mountains {
    bottom: 0;
    height: 66.66vh;
    right: 0;
    width: 45.39vw;
}

.trees .tree1 {
    height: 44.92vh;
    right: 7.76vw;
    top: 0.65vh;
    width: 17.79vw;
}

.trees .tree2 {
    height: 44.92vh;
    right: 21.52vw;
    top: 22.92vh;
    width: 17.79vw;
}

.trees .tree3 {
    height: 44.92vh;
    right: 35.78vw;
    top: 44.53vh;
    width: 17.79vw;
}

.computer svg {
    height: 66vh;
    right: 9.2vw;
    top: 9.8vh;
    width: 43.92vw;
}

@media (max-width: 890px) {
    .clouds .cloud1,
    .clouds .cloud2 {
        display: none;
    }
    .trees .tree1,
    .trees .tree2,
    .trees .tree3 {
        right: 5vw;
    }
    .computer svg {
        top: 30vh;
    }
}