.page2 {
    background-color: #2980b9;
    color: #3498db;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.page3 {
    background-color: #2ecc71;
    color: #27ae60;
    top: 200vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.page4 {
    background-color: #e74c3c;
    color: #c0392b;
    top: 300vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.clouds .cloud1 {
    left: 61.8vw;
    top: 10.4vh;
    width: 17.72vw;
    height: 22.53vh;
}
.clouds .cloud2 {
    left: 46.6vw;
    top: 45.7vh;
    width: 17.72vw;
    height: 22.53vh;
}
.clouds .mountains {
    right: 0;
    bottom: 0;
    width: 45.39vw;
    height: 66.66vh;
}
.trees .tree1 {
    top: 0.65vh;
    right: 7.76vw;
    width: 17.79vw;
    height: 44.92vh;
}
.trees .tree2 {
    top: 22.92vh;
    right: 21.52vw;
    width: 17.79vw;
    height: 44.92vh;
}
.trees .tree3 {
    top: 44.53vh;
    right: 35.78vw;
    width: 17.79vw;
    height: 44.92vh;
}
.computer svg {
    top: 9.8vh;
    right: 9.2vw;
    width: 43.92vw;
    height: 66vh;
}